*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 65%;
    margin: 2rem auto;
    color: white;
    font-weight: bolder;
}

header{
    text-align: center;
}

h1, h2, h3{
    font-family: 'Fredoka One', cursive;
}

h1, h3{
    padding-bottom: 1.5rem;
    color: #e53170;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col, .content{
    background-color: #0f0e17;
}

.col{
    width: calc( 100% / 3 - 2rem);
    line-height: 1.6rem;
    font-size: 1rem;
    margin: 0 1rem 2.5rem 1rem;
    float: left;
}

section.columns article:nth-child(4){
    clear: left;
}

.col:hover{
    box-shadow: 1px 1px 5px 8px #06447d;
}

.col > img{
    height: 6rem;
    float: left;
    margin-right: 2rem;
}

div.text-col{
    padding-top: 0.5rem;
}

.col h2{
    font-size: 1.1rem;
}

div>a{
    color: #17ccf2;
}

#divider{
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 6rem;
}

article.info{
    margin-bottom: 2rem;
}

.img-left > img{
    height: 20rem;
    float: left;
    margin-right: 2rem;
}

.img-right > img{
    height: 20rem;
    float: right;
    margin-left: 2rem;
}

div.description{
    padding-top: 2.5rem;
    padding-left: 1.5rem;
}

.description > p{
    margin-bottom: 1rem;
}